<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap-icons/bootstrap-icons.css" />
    <link href="_content/Dnet.Blazor/dnet-blazor-styles.css" rel="stylesheet" />
    <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/pretty-print-json@3.0/dist/css/pretty-print-json.css>
    <link rel="stylesheet" href="app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Dnet.Blazor/rxjs.min.js"></script>
    <script src="_content/Dnet.Blazor/dnet-blazor.js"></script>
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pretty-print-json@3/dist/pretty-print-json.min.js"></script>
</body>

</html>
